{% block content %}
  <meta charset="utf-8">
<title>{% block title %}  {% endblock %}</title>
      {% block canonical_url %}
        {% if canonical_url %}
            <link rel="canonical" href="{{ canonical_url }}">
        {% endif %}
    {% endblock %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

     <!-- Open Graph meta tags -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:type" content="website">

    <!-- Favicon -->
    <link href="{% static 'rotomech/favicon/favicon.ico' %}" rel="icon">
    <link rel="{% static 'rotomech/favicon/apple-touch-icon' %}" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
{% endblock %}